.body {
  padding-top: 120px;
  /* background-color: #000000; */
}
.header {
  padding: 10px;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  background-color: #f4c314;
}
.header-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}
.logo-div {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50px;
}
.logo-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}
.nav__ul-li {
  height: 20px;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav__ul-li:hover {
  -webkit-box-shadow: 5px 5px 10px #ffffff;
  box-shadow: 5px 5px 10px #ffffff;
}
.nav__ul-li a {
  white-space: nowrap;
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 700;
}
.poducts-div {
  white-space: nowrap;
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 500;
  cursor: default;
}
.products {
  position: relative;
  color: #000000;
  cursor: pointer;
}
/* .products::after {
  font: var(--fa-font-solid);
  content: "\f150";
}
.products.active--products::after {
  content: "\f151";
} */
.drop__product__list {
  position: absolute;
  top: 0;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.drop__product__list.active--products {
  width: 100.41px;
  height: 200px;
  -webkit-transform: translateY(95px);
  -ms-transform: translateY(95px);
  transform: translateY(95px);
  background-color: #f4c314;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.drop__product__list a {
  padding: 10px;
  margin-top: 25px;
  display: inline-block;
  color: #000000;
  font-family: "Kode Mono";
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.drop__product__list a:hover {
  -webkit-box-shadow: 5px 5px 10px #ffffff;
  box-shadow: 5px 5px 10px #ffffff;
}
.header__components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}
.header__components-img {
  width: 100%;
  height: 100%;
}
.header__components-div {
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header__components-div:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 5px 5px 10px #ffffff;
  box-shadow: 5px 5px 10px #ffffff;
  border-radius: 4px;
}
.search__form {
  display: none;
}
.search__form.active__search {
  display: block;
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2px;
  -moz-column-gap: 2px;
  column-gap: 2px;
  width: 100%;
  -webkit-animation: right-to-left 3s ease-in-out;
  animation: right-to-left 3s ease-in-out;
}
.search__input {
  width: 100%;
  height: 1.5rem;
  border-radius: 4px;
  font-family: "Kode Mono";
  background-color: #ffffff;
}
.search__btn {
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 600;
  background-color: #f4c314;
  width: 8rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 1px solid #000000;
}
.search-hide {
  display: none;
}
.reg__autau__btn__div {
  display: none;
  -webkit-animation: left-to-right 3s ease-in-out;
  animation: left-to-right 3s ease-in-out; /*? ასამუშავებელი მაქვს*/
}
.reg__autau__btn__div.active-reg-btns {
  display: block;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 5555555555;
  padding: 5px;
  -webkit-animation: right-to-left 1s ease-in-out;
  animation: right-to-left 1s ease-in-out;
}
.reg__autau__btn__div-button {
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 700;
  background-color: #f4c314;
  width: 8rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 1px solid #000000;
}
.signe__in--div {
  display: none;
  -webkit-animation: left-to-right 1s ease-in-out;
  animation: left-to-right 1s ease-in-out; /*? ასამუშავებელი მაქვს*/
}
.signe__in--div.active-log-in {
  display: block;
  position: absolute;
  top: 120px;
  right: 0;
  z-index: 7777777777;
  width: 100%;
  height: 650px;
  background-color: #f4c314;
  border-radius: 4px;
  border: 3px solid #000000;
  box-shadow: 5px 10px 10px #000000;
  -webkit-animation: right-to-left 3s ease-in-out;
  animation: right-to-left 3s ease-in-out;
}
.log-in-form {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  row-gap: 20px;
  max-width: 400px;
  width: 90%;
  height: 300px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
}
.log-in-form input {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  font-family: "Kode Mono";
  background-color: #f4c314;
  color: #000000;
}
.log-in-form input::-webkit-input-placeholder {
  color: #000000;
}
.log-in-form input::-moz-placeholder {
  color: #000000;
}
.log-in-form input:-ms-input-placeholder {
  color: #000000;
}
.log-in-form input::-ms-input-placeholder {
  color: #000000;
}
.log-in-form input::placeholder {
  color: #000000;
}
.log-in-form button {
  margin: 0 auto;
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 700;
  background-color: #f4c314;
  width: 8rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid #000000;
}
.close--signInDiv-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-animation: left-to-right 1s ease-in-out;
  animation: left-to-right 1s ease-in-out;
}
.signe__up--div {
  display: none;
  -webkit-animation: left-to-right 1s ease-in-out;
  animation: left-to-right 1s ease-in-out; /*? ასამუშავებელი მაქვს*/
}
/* .signe__up--div.disable-sign-up{
  animation: left-to-right 1s ease-in-out;
} */
.signe__up--div.active-sign-up {
  display: block;
  position: absolute;
  top: 120px;
  right: 0;
  z-index: 7777777777;
  width: 100%;
  height: 650px;
  background-color: #f4c314;
  border-radius: 4px;
  border: 3px solid #000000;
  box-shadow: 5px 10px 10px #000000;
  -webkit-animation: right-to-left 3s ease-in-out;
  animation: right-to-left 3s ease-in-out;
}
.signe__up-form {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  row-gap: 10px;
  max-width: 500px;
  width: 90%;
  height: 500px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
}
.signe__up-form input {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  font-family: "Kode Mono";
  background-color: #f4c314;
  color: #000000;
}
.signe__up-form input::-webkit-input-placeholder {
  color: #000000;
}
.signe__up-form input::-moz-placeholder {
  color: #000000;
}
.signe__up-form input:-ms-input-placeholder {
  color: #000000;
}
.signe__up-form input::-ms-input-placeholder {
  color: #000000;
}
.signe__up-form input::placeholder {
  color: #000000;
}
.pass-divs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.show-hide-eye {
  width: 20px;
}
.signe__up-form button {
  margin: 0 auto;
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 700;
  background-color: #f4c314;
  width: 8rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid #000000;
}
.signe__up-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Kode Mono";
}
.signe__up-radio input {
  height: 1rem;
}
.signe__up-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Kode Mono";
}
.signe__up-checkbox input {
  width: 20%;
  height: 1rem;
}
.error-text {
  color: red;
  font-size: 12px;
  height: 5px;
  margin: 5px 0;
}
.close--signUpDiv-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/*! cart */
.cart-div {
  display: none;
}
.cart-div.active-cart {
  display: block;
  position: absolute;
  top: 120px;
  right: 0;
  z-index: 7777777777;
  width: 100%;
  height: 650px;
  background-color: #f4c314;
  border-radius: 4px;
  border: 3px solid #000000;
  box-shadow: 5px 10px 10px #000000;
  -webkit-animation: right-to-left 3s ease-in-out;
  animation: right-to-left 3s ease-in-out;
}
.cart-ul {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  max-width: 500px;
  width: 90%;
  height: 300px;
  padding: 10px;
  border-radius: 4px;
  overflow-y: scroll;
  background-color: #ffffff;
}
.cart-div h2 {
  margin: 50px auto;
  padding: 5px;
  max-width: 800px;
  width: 90%;
  height: 30px;
  background-color: #ffffff;
  font-family: "Kode Mono";
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  border-radius: 4px;
}
.cart-li {
  width: 100%;
  height: 50px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 10px;
  border-radius: 4px;
  border: 2px solid #000000;
  background-color: #f4c314;
  font-family: "Kode Mono";
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.cart-li div {
  width: 100%;
  min-height: 30px;
  text-align: center;
  padding-top: 2px;
  /* background-color: red; */
}
.cart-li-pic {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.delete-cart-li {
  cursor: pointer;
}
.total-pay-div {
  margin: 10px auto;
  width: 30%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #000000;
  background-color: #ffffff;
}
.total-pay-number {
  width: 40%;
  height: 90%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 4px;
  font-family: "Kode Mono";
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.total-pay-valute {
  width: 40%;
  height: 30%;
  border-radius: 4px;
  font-family: "Kode Mono";
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.pay-clear-div {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.clear-all {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #000000;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  font-family: "Kode Mono";
  color: #f4c314;
  font-size: 16px;
  font-weight: 700;
}
.pay {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #000000;
  background-color: #000000;
  font-family: "Kode Mono";
  color: #f4c314;
  font-size: 16px;
  font-weight: 700;
}
.close--prodact-list-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* ! burger none */
.burger__bar {
  display: none;
}
/* # animations */
@-webkit-keyframes right-to-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes right-to-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes left-to-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes left-to-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes end-to-top {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes end-to-top {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes top-to-end {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes top-to-end {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
/*! main */
/* .slogan {
  transition: all 20s ease-in-out;
  animation: left-to-right 20s ease-in-out infinite;
} */
h1 {
  margin-top: 20px;
  padding: 5px;
  min-height: 30px;
  background-color: #f4c314;
  font-family: "Kode Mono";
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}
h1::before {
  font: var(--fa-font-solid);
  content: "\f0fc";
  margin-right: 10px;
}
h1::after {
  font: var(--fa-font-solid);
  content: "\f0fc";
  margin-left: 10px;
}
.h2-section-header {
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 10px 10px #000000;
  box-shadow: 5px 10px 10px #000000;
  background-color: #f4c314;
  font-family: "Kode Mono";
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}
.beer-container-div {
  margin: 20px auto;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  /* background-color: red; */
}
.beer-info {
  width: 45%;
  height: 100%;
  border-radius: 4px;
  background-color: #f4c314;
  overflow: hidden;
  -webkit-box-shadow: 5px 10px 10px #000000;
  box-shadow: 5px 10px 10px #000000;
}
.beer-details {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: red;
}
.h2-beer-name {
  padding-top: 5px;
  width: 90%;
  height: 40px;
  font-family: "Kode Mono";
  font-size: 18px;
  font-weight: 800;
  line-height: 16px;
  text-align: center;
  margin: 10px auto;
  border-radius: 4px;
  background-color: #ffffff;
}
.p-beer-tagline {
  padding-top: 3px;
  width: 90%;
  font-family: "Kode Mono";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  margin: 10px auto;
  border-radius: 4px;
  background-color: #ffffff;
}
.p-beer-description {
  width: 90%;
  font-family: "Kode Mono";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 10px auto;
  border-radius: 4px;
  background-color: #ffffff;
}
.beer-pp-div {
  max-width: 315px;
  width: 95%;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  /* background-color: rebeccapurple; */
}
.beer-price {
  width: 40%;
  font-family: "Kode Mono";
  font-size: 16px;
  font-weight: 800;
}
.beer-qty-form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}
.beer-pc {
  width: 60px;
  height: 100%;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #000000;
}
.beer-PC-text {
  font-family: "Kode Mono";
  font-size: 16px;
  font-weight: 800;
}
.beer-qty-submit {
  width: 40px;
  height: 100%;
  background-color: #f4c314;
}
/* ! sliders */

/* .li-for-beer-img {
  width: 200px;
  height: 100%;
  padding: 5px;
  background-color: #f4c314;
  border-radius: 4px;
} */
.beer-slides {
  width: 45%;
  height: 100%;
  border-radius: 4px;
  background-color: #f4c314;
  -webkit-box-shadow: 5px 10px 10px #000000;
  box-shadow: 5px 10px 10px #000000;
}
#slide-ul-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#slide-ul-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#slide-ul-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.beer-image {
  width: 150px;
  height: 100%;
  /* object-fit: cover; */
}
/* .splide__arrows.new-beer-class-arrows {
  color: red;
  background-color: red;
}
.splide__arrow.new-beer-class-arrow {
  color: red;
  background-color: red;
} */
.splide__arrow--prev.new-beer-class-prev {
  background-color: #f4c314;
  width: 40px;
  height: 40px;
  border: 5px solid #000000;
}
.splide__arrow--next.new-beer-class-next {
  background-color: #f4c314;
  width: 40px;
  height: 40px;
  border: 5px solid #000000;
}
.splide__pagination__page.new-beer-class-page {
  width: 10px;
  height: 10px;
  background-color: #000000;
}
.splide__pagination__page.new-beer-class-page.is-active {
  background-color: #ffffff;
}
/* ! shop */
.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}
.shop-beer-details {
  max-width: 350px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4c314;
  -webkit-box-shadow: 5px 10px 10px #000000;
  box-shadow: 5px 10px 10px #000000;
  border-radius: 4px;
}
.shop-beer-image {
  width: 50%;
  height: 50%;
}
.shop-span-beer-description {
  position: relative;
  height: 50px;
  width: 90%;
  padding: 20px;
  font-family: "Kode Mono";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 10px auto;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.shop-span-beer-description.up-down {
  height: 320px;
}
.desc-accord-icon {
  position: absolute;
  top: 50%;
  right: 2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
/* ! scroll up */
.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 0;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-up:hover {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.ht-line {
  margin: 30px 0;
  height: 5px;
  background-color: #000000;
}
/* ! footer */
#footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  background-color: #f4c314;
}
.footer-h2 {
  margin-top: 20px;
  padding: 5px;
  min-height: 30px;
  background-color: #f4c314;
  font-family: "Kode Mono";
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}
.footer-info {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  background-color: #f4c314;
}
.footer-info-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 10px 10px #000000;
  box-shadow: 5px 10px 10px #000000;
  background-color: #000000;
}
.footer-info-icon {
  margin-right: 8px;
}
.footer-info-text {
  font-family: "Kode Mono";
  font-size: 16px;
  font-weight: 800;
  color: #f4c314;
}
.footer-soc-media {
  margin: 20px 0;
  width: 300px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* ! Respo */
@media (max-width: 1024px) {
  .body {
    padding-top: 80px;
  }
  .header {
    padding: 3px;
    height: 80px;
  }
  .logo-div {
    width: 40px;
    height: 40px;
  }
  .burger__lines {
    width: 70%;
    height: 5px;
    background-color: #f4c314;
    border-radius: 9999px;
    border: 2px solid #000000;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .line--1.burger__lines-to-X {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .line--3.burger__lines-to-X {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
    -ms-transform: rotate(-45deg) translate(6px, -6px);
    transform: rotate(-45deg) translate(6px, -6px);
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .burger__middle-line {
    width: 70%;
    height: 5px;
    background-color: #f4c314;
    border-radius: 9999px;
    border: 2px solid #000000;
  }
  .burger__middle-line-hide {
    opacity: 0;
  }
  .burger__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    row-gap: 3px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 2px solid #000000;
  }
  .nav {
    display: none;
  }
  .nav.active-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    right: 0;
    padding: 20px;
    width: 100%;
    height: 650px;
    background-color: #f4c314;
    border-radius: 4px;
    border: 3px solid #000000;
    box-shadow: 5px 10px 10px #000000;
    -webkit-animation: right-to-left 3s ease-in-out;
    animation: right-to-left 3s ease-in-out;
  }
  .nav.active-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 10px;
  }
  .drop__product__list {
    position: absolute;
    top: 10px;
  }
  .drop__product__list.active--products {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  .reg__autau__btn__div.active-reg-btns {
    top: 45px;
  }
  .reg__autau__btn__div-button {
    width: 6rem;
  }
  .signe__in--div.active-log-in {
    top: 80px;
  }
  .signe__up--div.active-sign-up {
    top: 80px;
  }
  .cart-div.active-cart {
    top: 80px;
  }
}
@media (max-width: 550px) {
  .beer-container-div {
    height: 1000px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    row-gap: 20px;
  }
  .beer-info {
    width: 90%;
    background-color: gray;
  }
  .beer-slides {
    width: 90%;
  }
  .shop-beer-details {
    width: 90%;
  }
  #footer {
    height: 100%;
  }
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
