.body {
  padding-top: 142px;
}
.header {
  padding: 10px;
  width: 100%;
  height: 142px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  background-color: #f4c314;
}
.header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.5rem;
}
.logo-div {
  width: 5rem;
  height: 5rem;
  background-color: #ffffff;
  border-radius: 50px;
}
.logo-div img {
  width: 100%;
  height: 100%;
  object-fit: center center;
}
.nav__ul {
  display: flex;
  column-gap: 2rem;
}
.nav__ul-li {
  border-radius: 4px;
  transition: all 0.5s linear;
}
.nav__ul-li:hover {
  box-shadow: 5px 5px 10px #ffffff;
}
.nav__ul-li a {
  white-space: nowrap;
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 700;
}
.poducts-div{
  white-space: nowrap;
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 500;
  cursor: default;
}
.products {
  position: relative;
  color: #000000;
  cursor: pointer;
}
/* .products::after {
  font: var(--fa-font-solid);
  content: "\f150";
}
.products.active--products::after {
  content: "\f151";
} */
.drop__product__list {
  position: absolute;
  top: 44px;
  left: 70px;
  height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s linear;
}
.drop__product__list.active--products {
  width: 120px;
  height: 200px;
  transform: translateY(95px);
  background-color: #f4c314;
  border-radius: 4px;
  box-shadow: none;
}
.drop__product__list a {
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  color: #000000;
  font-family: "Kode Mono";
  border-radius: 4px;
  transition: all 0.5s linear;
}
.drop__product__list a:hover {
  box-shadow: 5px 5px 10px #ffffff;
}
.header__components {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}
.header__components-img {
  width: 100%;
  height: 100%;
}
.header__components-div {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.5s linear;
}
.header__components-div:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 10px #ffffff;
  border-radius: 4px;
}
.search__form {
  display: none;
}
.search__form.active__search {
  margin-top: 5px;
  display: flex;
  column-gap: 2px;
  width: 100%;
  animation: end-to-top 1s linear;
}
.search__input {
  width: 100%;
  height: 1.5rem;
  border-radius: 4px;
  font-family: "Kode Mono";
  background-color: #ffffff;
}
.search__btn {
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 600;
  background-color: #f4c314;
  width: 8rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 1px solid #000000;
}
.reg__autau__btn__div {
  display: none;
  animation: left-to-right 1s linear; /*? ასამუშავებელი მაქვს*/
}
.reg__autau__btn__div.active-reg-btns {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5555555555;
  padding: 5px;
  animation: right-to-left 1s linear;
}
.reg__autau__btn__div-button {
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 700;
  background-color: #f4c314;
  width: 8rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 1px solid #000000;
}
.signe__in--div {
  display: none;
  animation: left-to-right 1s linear; /*? ასამუშავებელი მაქვს*/
}
.signe__in--div.active-log-in {
  display: block;
  position: absolute;
  top: 143px;
  right: 0;
  z-index: 7777777777;
  width: 100%;
  height: 1000px;
  background-color: #f4c314;
  border-radius: 4px;
  animation: right-to-left 1s linear;
}
.log-in-form {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
  width: 500px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
}
.log-in-form input {
  width: 100%;
  height: 3rem;
  border-radius: 4px;
  font-family: "Kode Mono";
  background-color: #f4c314;
  color: #000000;
}
.log-in-form input::placeholder {
  color: #000000;
}
.log-in-form button {
  margin: 0 auto;
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 700;
  background-color: #f4c314;
  width: 8rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid #000000;
}
.close--signInDiv-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  animation: left-to-right 1s linear;
}
.signe__up--div {
  display: none;
  animation: left-to-right 1s linear; /*? ასამუშავებელი მაქვს*/
}
/* .signe__up--div.disable-sign-up{
  animation: left-to-right 1s linear;
} */
.signe__up--div.active-sign-up {
  display: block;
  position: absolute;
  top: 143px;
  right: 0;
  z-index: 7777777777;
  width: 100%;
  height: 1000px;
  background-color: #f4c314;
  border-radius: 4px;
  animation: right-to-left 1s linear;
}
.signe__up-form {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
  width: 500px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
}
.signe__up-form input {
  width: 100%;
  height: 3rem;
  border-radius: 4px;
  font-family: "Kode Mono";
  background-color: #f4c314;
  color: #000000;
}
.signe__up-form input::placeholder {
  color: #000000;
}
.signe__up-form button {
  margin: 0 auto;
  color: #000000;
  font-family: "Kode Mono";
  font-weight: 700;
  background-color: #f4c314;
  width: 8rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid #000000;
}
.signe__up-radio {
  display: flex;
  align-items: center;
  font-family: "Kode Mono";
}
.signe__up-radio input {
  height: 1rem;
}
.signe__up-checkbox {
  display: flex;
  align-items: center;
  font-family: "Kode Mono";
}
.signe__up-checkbox input {
  width: 20%;
  height: 1rem;
}
.close--signUpDiv-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.burger__bar {
  display: none;
}
/* # animations */
@keyframes right-to-left {
  0% {
    transform: translateX(100%);
  }
}
@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
}
@keyframes end-to-top {
  0% {
    transform: translateY(100%);
  }
}
/*! main */
/* .slogan {
  transition: all 20s linear;
  animation: left-to-right 20s linear infinite;
} */
h1 {
  margin-top: 20px;
  padding: 5px;
  min-height: 30px;
  background-color: #f4c314;
  font-family: "Kode Mono";
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}
h1::before {
  font: var(--fa-font-solid);
  content: "\f0fc";
  margin-right: 10px;
}
h1::after {
  font: var(--fa-font-solid);
  content: "\f0fc";
  margin-left: 10px;
}
#beer-container-div{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.each-beer-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h2-beer-name{
  width: 200px;
  height: 100px;
  font-family: "Kode Mono";
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #f4c314;
}
.div-for-beer-img{
  width: 200px;
  height: 400px;
  padding: 5px;
  background-color: #f4c314;
  border-radius: 4px;
}
.beer-image{
  width: 100%;
  height: 100%;
  object-fit: cover center;
}